        <app-error-msg></app-error-msg>
        <!-- Loading da Pagina  -->
        <div class="loading-indicator" *ngIf="isLoading">
            <mat-spinner  mode="indeterminate"  ></mat-spinner>
        </div> 


        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Table List</h4>
                <!-- p class="card-category">New employees on 15th September, 2016</p -->
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table table-hover table-striped  table-sprited table-bordered">
                    <thead class="text-bold">
                        <th>Código</th>
                        <th>Conteudo</th>
                        <th>Prioridade</th>
                        <th>Arquivado</th>
                        <th>Modificação</th>
                        <th>Ações</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lembrete of lembretes | paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index">
                            <td>{{ lembrete.id }}</td>
                            <td>{{ lembrete.conteudo }}</td>
                            <td>{{ lembrete.prioridade }}</td>
                            <td>{{ lembrete.arquivado }}</td>
                            <td>{{ lembrete.modificado }}</td>
                            <td> 
                                <div class="btn-row">
                                    <div class="flex-container">
                                        <div class="btn-container">
                                            <button mat-icon-button color="warn" aria-label="Example icon button with a home icon"
                                            (click)="deletaLembrete(lembrete.id)">  
                                                <mat-icon>delete_forever</mat-icon>
                                            </button> 
                                            <button  mat-icon-button color="primary" aria-label="Example icon button with a plus one icon"
                                            type="button" class="ml-1"  >
                                                <mat-icon >create</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                               
                            </td>
                        </tr>
                    </tbody>
                    <pagination-controls (pageChange)="paginaAtual = $event"></pagination-controls>
                </table>
            </div>
        </div>
