<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
<!--
              <table-cliente-pedido></table-cliente-pedido>

               FORM PEDIDOS CABEÇALHO   -->
              <form-pedido></form-pedido>
              

              <!-- div class="card">
                  <div class="card-primary card-header-primary mini">
                      <h4 class="card-title">Cabeçalho de Pedido</h4>
                  </div>
                  <div class="card-body">
                      <form #f="ngForm" (ngSubmit)="onSubmit()">
                          <div class="row">
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Conteudo" type="text" id="conteudo" 
                                  placeholder="Seu lembrete..." name="conteudo"
                                  [(ngModel)]="lembrete.conteudo" 
                                  #conteudo="ngModel" 
                                  [class.is-invalid]="!conteudo.valid && conteudo.touched"
                                  required >
                              </mat-form-field>
                            </div>
                             
                              
                          </div>
                          
                          
                         
                          <button mat-raised-button type="submit" class="btn btn-primary pull-right" [disabled]="!f.valid"
                            type="submit" >Save </button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div-->
          </div>
      </div>

      <!-- div class="row">
        <div class="col-md-12">
            <app-form-teste (outputLembrete)="addLembrete($event)"></app-form-teste>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <lembrete-table></lembrete-table>
        </div>
      </div>
      <div class="row">
      </div-->
  </div>
</div >